@font-face
	{
		font-family: OpenSans;
		src:url('../fonts/OpenSans-Regular.ttf');
	}

body{
	font-family: OpenSans;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

span{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	hover: pointer;
}

thead{
	width: 100%;
	display: table;
}

tbody{
	display: block;
	overflow: scroll;
	overflow-x: hidden !important;
	border: 1px solid #DDDDDD;
	border-top: 0px !important;
	height: 95%;
}

tbody tr{
    display: table;
    width: calc(100% + 13px);
    cursor: pointer;
}

tbody tr:nth-child(even){
	background-color: #F2F2F2;
}

td .form-control{
	padding-left: 5px;
	padding-right: 5px;
}

.table{
	height: 100%;
	float: left;
	width: 67%;
}

.short{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container{
	overflow: hidden;
	overflow-x: hidden; 
	width: 100%;
	min-width: 1200px;
	padding: 20px;
}

.table-header{
	background-color: #494949;
	color: #ffffff;
}

.right{
	float: left;
	width: 33%;
	height: 100%;
	padding-left: 20px;
}

#current-panel{
	float: right;
	width: 100%;
	height: 50%;
}

.panel-heading{
	border-bottom: 2px solid #DDDDDD;
	border-radius: 0px;
	font-weight: bold;
	height: 38px;
	background-color: #494949 !important;
	color: #ffffff !important;
}

.panel{
	border: none !important;
}

#current-panel .panel-body{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: calc(100% - 38px);
	padding-bottom: 25px;
	background-color: #F2F2F2;
}

#circle {
	width: 220px;
	height: 220px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 26px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	word-break: break-all;
}

.ready{
	color: #494949;
	border:12px solid #676767;
}

.authorized{
	color: #4485F5;
	border:12px solid #4485F5;
}

.unauthorized{
	color: #C9302C;
	border:12px solid #C9302C;
}

/*#time{
	float: right;
	width: 30%;
	border: 1px solid red;
}*/

#id-number-input{
	position: absolute;
	opacity:0;
	filter:alpha(opacity=0);
}

#keyboard{
	position: absolute;
	bottom: -50%;
	left: 0;
	height: 50%;
	width: 100%;
	text-align: center;
	background-color: rgba(206,209,214,.9);
}

.key-rows{
	height: 20%;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.keys{
	font-size: 18px;
	height: 100%;
	width: 80px;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 3px;
	float: left;
}

#fifth-row{
	padding-bottom:7px;
}

.space-key{
	width: 514px;
}

.delete-key, .tab-key{
	width: 120px;
}

.capslock-key, .enter-key{
	width: 143px;
}

.shift-key{
	width: 186px;
}

::-webkit-scrollbar {
    	width: 10px;
}

::-webkit-scrollbar-track {
   	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

