<div id="keyboard">
		<div id="first-row" class="key-rows">
			<button class="keys" value="`" disabled="true">`</button>
			<button class="keys" value="1">1</button>
			<button class="keys" value="2">2</button>
			<button class="keys" value="3">3</button>
			<button class="keys" value="4">4</button>
			<button class="keys" value="5">5</button>
			<button class="keys" value="6">6</button>
			<button class="keys" value="7">7</button>
			<button class="keys" value="8">8</button>
			<button class="keys" value="9">9</button>
			<button class="keys" value="0">0</button>
			<button class="keys" value="-">-</button>
			<button class="keys" value="=">=</button>
			<button class="keys delete-key" value="delete">delete</button>
		</div>
		<div id="second-row" class="key-rows">
			<button class="keys tab-key" value="tab">tab</button>
			<button class="keys" value="q">q</button>
			<button class="keys" value="w">w</button>
			<button class="keys" value="e">e</button>
			<button class="keys" value="r">r</button>
			<button class="keys" value="t">t</button>
			<button class="keys" value="y">y</button>
			<button class="keys" value="u">u</button>
			<button class="keys" value="i">i</button>
			<button class="keys" value="o">o</button>
			<button class="keys" value="p">p</button>
			<button class="keys" value="[">[</button>
			<button class="keys" value="]">]</button>
			<button class="keys" value="\">\</button>
		</div>
		<div id="third-row" class="key-rows">
			<button class="keys capslock-key" value="capslock">caps lock</button>
			<button class="keys" value="a">a</button>
			<button class="keys" value="s">s</button>
			<button class="keys" value="d">d</button>
			<button class="keys" value="f">f</button>
			<button class="keys" value="g">g</button>
			<button class="keys" value="h">h</button>
			<button class="keys" value="j">j</button>
			<button class="keys" value="k">k</button>
			<button class="keys" value="l">l</button>
			<button class="keys" value=";">;</button>
			<button class="keys" value="'">'</button>
			<button class="keys enter-key" value="enter">enter</button>
		</div>
		<div id="fourth-row" class="key-rows">
			<button class="keys shift-key" value="shift">shift</button>
			<button class="keys" value="z">z</button>
			<button class="keys" value="x">x</button>
			<button class="keys" value="c">c</button>
			<button class="keys" value="v">v</button>
			<button class="keys" value="b">b</button>
			<button class="keys" value="n">n</button>
			<button class="keys" value="m">m</button>
			<button class="keys" value=",">,</button>
			<button class="keys" value=".">.</button>
			<button class="keys" value="/">/</button>
			<button class="keys shift-key" value="shift">shift</button>
		</div>
		<div id="fifth-row" class="key-rows">
			<button class="keys space-key" value=" "></button>
		</div>
</div>	